<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
	<div th:fragment="css">
		<link th:href="@{/css/jquery-ui.css}"  rel = "stylesheet"/>
     	<link th:href="@{/css/app.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/jquery.dataTables.min.css}"  rel = "stylesheet"/>
      	
      	<link th:href="@{/css/bootstrap.rtl.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap-grid.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap-reboot.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap-grid.rtl.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap-reboot.rtl.min.css}"  rel = "stylesheet"/>
      	
      	<link th:href="@{/css/bootstrap-utilities.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/bootstrap-utilities.rtl.min.css}"  rel = "stylesheet"/>
      	<link th:href="@{/css/datatables.min.css}" rel="stylesheet"/>
  		<link th:href="@{/css/fixedColumns.dataTables.min.css}" rel="stylesheet"/>
  		<link th:href="@{/css/select.dataTables.min.css}" rel="stylesheet" />
  		<link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet" />
    </div>
    <div th:fragment="js">
	    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  	  	<script th:src="@{/js/jquery-ui.min.js}"></script>
  	  	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
		<script th:src="@{/js/dataTables.select.min.js}"></script>
		<script th:src="@{/js/dataTables.buttons.min.js}"></script>
  	  	<script th:src="@{/js/datatables.min.js}"></script>
  	  	<script th:src="@{/js/bootstrap.min.js}"></script>
  	  	<script th:src="@{/js/app.js}"></script>
	</div>
</head>
<body>
</body>
</html>